@tailwind base;
@tailwind components;
@tailwind utilities;

/* mixhtml */
.mix-error {
  background-color: rgba(240, 240, 240, 1);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.mix-fade-out {
  animation: fadeOut 2s ease-out forwards; /* Adjust the duration and timing function as needed */
}
/* end mixhtml */

main {
  @apply pt-20;
}
form {
  @apply w-full;
}
input,
button {
  @apply w-full h-12 rounded-md outline-none !important;
}
input {
  @apply px-2 border border-neutral-400;
}
button {
  @apply text-white bg-neutral-800;
}
#toast .ok {
  @apply p-4 text-white bg-green-700 rounded-full;
}
#toast .error {
  @apply p-4 text-white bg-pink-800 rounded-full;
}
