%import x

<form id="frm_edit" class="flex flex-col gap-2">


    <div>
        <label for="user_username">Username:</label>
        <input id="user_username" name="user_username" class="w-full border" type="username" placeholder=""
            value="{{user['user_username']}}" mix-check="{{x.USER_USERNAME_REGEX}}">
    </div>

    <div>
        <label for="user_first_name">First Name:</label>
        <input id="user_first_name" name="user_first_name" class="w-full border" type="fname" placeholder=""
            value="{{user['user_first_name']}}" mix-check="{{x.USER_USERNAME_REGEX}}">
    </div>


    <div>
        <label for="user_last_name">Last Name:</label>
        <input id="user_last_name" name="user_last_name" class="w-full border" type="lname" placeholder=""
            value="{{user['user_last_name']}}" mix-check="{{x.USER_USERNAME_REGEX}}">
    </div>

    <button mix-data="#frm_edit" mix-put="/edit_profile" mix-default="Save profile edits" mix-await="Please wait ...">
        Save profile edits
    </button>
</form>