%import x

<form id="frm_delete_profile" autocomplete="off" class="flex gap-2">
    <input type="text" hidden name="user_pk" value="{{user['user_pk']}}">
    <input name="user_password" class="w-full border" type="password" placeholder="type password" value=""
        mix-check="{{x.USER_PASSWORD_REGEX}}">
    <input name="user_confirm_password" class="w-full border" type="password" placeholder="confirm password" value=""
        mix-check="{{x.USER_PASSWORD_REGEX}}">
    <button class="" mix-data="#frm_delete_profile" mix-put="/delete_profile" mix-default="Delete profile"
        mix-await="Please wait ...">
        Delete profile
    </button>
</form>