%import x

<form id="frm_forgot_password" autocomplete="off" class="flex flex-col gap-2">
    % if get("is_logged", False):
    <input hidden name="user_email" id="user_email" class="w-full border" type="email" placeholder="email"
        value="{{user['user_email']}}" mix-check="{{x.EMAIL_REGEX}}">
    % else:
    <div>
        <label for="user_email">Email:</label>
        <input name="user_email" id="user_email" class="w-full border" type="email" placeholder="email" value=""
            mix-check="{{x.EMAIL_REGEX}}">
    </div>
    % end
    <button class="" mix-data="#frm_forgot_password" mix-post="/forgot_password" mix-default="Change password"
        mix-await="Please wait ...">
        Change password
    </button>
</form>