<div class="user">
    <div class="flex flex-col gap-2 justify-between mt-2 bg-gray-200 p-4 rounded-lg">
        <div>
            <p class="text-xl">{{user["user_first_name"]}} {{user["user_last_name"]}}</p>
        </div>
        <div>
            <p>User role: {{user["user_role"]}}</p>
        </div>
        <div>
            <p>User email: {{user["user_email"]}}</p>
        </div>
        <div>
            <p>User is verified: {{user["user_is_verified"]}}</p>
        </div>
        <div>
            <p>User is blocked: {{user["user_is_blocked"] if user = 1}}</p>
        </div>



        <form id="{{user['user_pk']}}">
            <input name="user_pk" hidden type="text" value="{{user['user_pk']}}">
            <input name="user_email" hidden type="text" value="{{user['user_email']}}">
            % if user['user_is_blocked'] == 0:
            <button mix-data="[id='{{user['user_pk']}}']" mix-put="/block_user">
                Block
            </button>
            % else:
            <button mix-data="[id='{{user['user_pk']}}']" mix-put="/unblock_user">
                Unblock
            </button>
            % end
        </form>


    </div>

</div>