%include("_header")

<main class="flex flex-col sm:flex-row gap-4">
  <div class="sm:w-full sm:h-full w-full h-[50vh]">
    <div class="sm:fixed sm:w-[calc(50%-0.5rem)] sm:h-[calc(100%-5rem)] w-full h-full bg-neutral-100">
      <div id='map' class="w-full h-full"></div>
    </div>
  </div>

  <div class="w-full h-full pb-16 px-4">
    <div id="items" class="grid grid-cols-1 lg:grid-cols-2 gap-4 pb-10 mb-2">
      % for item in items:
      %include("_item")
      % end
    </div>
    %include("__btn_more", page_number=2)
  </div>

</main>


<script>
  mapboxgl.accessToken = "{{mapbox_token}}"
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [12.5683, 55.6761],
    zoom: 12
  });


  let items = "{{items}}".replace(/&#039;/g, '"');
  console.log(items)



  setTimeout(function () {
    if (typeof mapPins === 'function') {
      mapPins(items);
    } else {
      console.error('mapPins function is not defined');
    }
  }, 100);
</script>



%include("_footer")