%include("_header")

<main id="profile" class="mt-16 p-4">



    <section class="my-10">
        <h1 class="text-4xl">Hello, {{user['user_first_name']}}</h1>
        <p>
            This is the <span class="text-dragon-fruit">Admin</span> Dashboard.
        </p>
        <p>Here you can see your bookings, your favorite items and your settings.</p>
    </section>

    <section class="mb-10 flex flex-col gap-4">
        <div>
            <h1 class="text-xl">Edit profile</h1>
            <p>
                Change your username, first name and last time.
            </p>
        </div>
        %include("__frm_edit_profile")
    </section>

    <section class="mb-10 flex flex-col gap-4">
        <h1 class="text-xl">Forgot password?</h1>

        %include("__frm_forgot_password")
    </section>

    <section class="mb-10 flex flex-col gap-4">
        <div>
            <h1 class="text-xl">Delete profile?</h1>
            <p>
                Are you sure you want to delete your profile? This action cannot be undone.
            </p>
        </div>
        %include("__frm_delete_profile")
    </section>

    <section class="mb-10 flex flex-col gap-4">
        <div>
            <h1 class="text-xl">All properties</h1>
            <p>
                Here you can see all properties, you can block and delete them.
            </p>
        </div>
        <div id="items" class="grid grid-cols-[1fr_1fr] gap-4 mb-2">
            % for item in items:
            %include("_item")
            % end
        </div>
    </section>


    <section class="mb-10 flex flex-col gap-4">
        <div>
            <h1 class="text-xl">All users</h1>
            <p>
                Here you can see all properties, you can block and delete them.
            </p>
        </div>
        <div id="users" class="grid grid-cols-[1fr_1fr] gap-4 mb-2">
            % for user in users:
            %include("_user")
            % end
    </section>


</main>

%include("_footer")