%include("_header")

<main id="profile" class="mt-16 p-4">

    <section class="my-10">
        <h1 class="text-xl">Hello, {{user['user_first_name']}}</h1>
        <p>
            This is the <span class="text-dragon-fruit">Partner</span> Dashboard.
        </p>
        <p>Here you can see your bookings, your favorite items and your settings.</p>
    </section>

    <section class="mb-10">
        <h1 class="text-xl">Edit profile</h1>
        <p>
            Change your username, first name and last time.
        </p>
        %include("__frm_edit_profile")
    </section>

    <section class="mb-10">
        <h1 class="text-xl">Forgot password?</h1>

        %include("__frm_forgot_password")
    </section>

    <section class="mb-10">
        <h1 class="text-xl">Delete profile?</h1>
        <p>
            Are you sure you want to delete your profile? This action cannot be undone.
        </p>
        <p>You will receive and email with confirmation</p>
        %include("__frm_delete_profile")
    </section>

    <section class="mb-10">
        <h1>Add a property</h1>
        <p> Add any property of your desire</p>
        %include("__frm_add_property")
    </section>



    <section class="mb-10">
        <h1>Your properties</h1>
        <p>Here is a list of all your properties</p>
        <div id="items" class="grid grid-cols-1 lg:grid-cols-2 gap-4 pb-10">
            % for item in items:
            %include("_item")
            % end
        </div>

    </section>





</main>

%include("_footer")